{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block content %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.getFullName() }}! ✅</h1>

    <hr>

    {% for success in app.session.flashbag.get('success') %}
    <p class="success">{{ success }}</p>
        
    {% endfor %}

    <p>Bienvenue sur ton profil, tu peux accéder à tes informations depuis cette page, pour gérer tes commandes, modifier tes données ou bien supprimer ton compte.</p>

    <hr>

    <p><span class="textProfile">Nom : </span> {{ app.user.getLastName }}</p>
    <p><span class="textProfile">Prénom : </span> {{ app.user.getFirstName }}</p>
    <p><span class="textProfile">Email : </span> {{ app.user.getEmail }}</p>
    {# <p><span class="textProfile">Mot de passe : </span> {{ app.user.getPassword }}</p> #}

    <hr>

    <p><a href="{{ path('app_edit_profile') }}">Change tes informations</a></p>
    {# <p><a href="">Change de mot de passe</a></p> #}
    <p><a href="{{ path('app_account_addresses') }}">Gérer mes adresses de livraison</a></p>
    <p><a href="{{ path('app_account_order') }}">Gère tes commandes</a></p>

    <p><a id="logoutProfile" href="{{ path('app_logout') }}">Déconnexion</a></p>

</div>
{% endblock %}
