<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Symfony starter kit pour Titouan et Pierre">
        <title>{% block title %}Accueil{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">

        {% block javascript %}
        {% endblock %}

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" id="home_navbar" href="{{ path('home') }}">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" id="products_navbar" href="{{ path('app_products') }}">Nos produits <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    {% if app.user %}
                    <div id="navBarConnected">
                        <a class="navBarConnected" href="{{ path('app_profile') }}">Profil</a>
                        <a class="navBarConnected" href="{{ path('app_cart') }}">Panier</a>
                        <a class="navBarConnected" href="{{  path('app_logout')  }}">Déconnexion</a>
                    </div>
                      {% else %}
                      <div id="login">
                        <a href="{{ path('app_register') }}">Inscription</a>
                        <a href="{{ path('app_login') }}">Connexion</a>
                      </div>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main role="main">
            {% if block('carousel') is defined %}
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                            <div class="container">
                                <div class="carousel-caption text-left">
                                    <h1>La Bat'Chaussure</h1>
                                    <p>La Bat'Chaussure est une chaussure pour les hommes confirmés dans le football, elle est réservée, aux champions.</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ path('app_products') }}" role="button">Amenez-moi à la boutique</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Chaussure orange sans lacets</h1>
                                    <p>Cette chaussure est celle des fainéants, elle permet une meilleur accroche au terrain et un gain de temps dans les vestiaires.</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ path('app_products') }}" role="button">Amenez-moi à la boutique</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                            <div class="container">
                                <div class="carousel-caption text-right">
                                    <h1>Chaussure sans crampons</h1>
                                    <p>Cette chaussure sans crampons permet aux enfants de jouer sans craintes de se blesser lors de tacle.</p>
                                    <p><a class="btn btn-lg btn-primary" href="{{ path('app_products') }}" role="button">Amenez-moi à la boutique</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% endif %}


            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">

                {% block content %}
                {% endblock %}

            </div><!-- /.container -->

            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="{{ path('home') }}">Retour en haut de page</a></p>
                <p>&copy; 2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
