<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Symfony starter kit pour Titouan et Pierre">
        <title>{% block title %}Accueil{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">

        {% block javascript %}
        {% endblock %}

        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" id="home_navbar" href="{{ path('home') }}">Accueil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" id="products_navbar" href="{{ path('app_products') }}">Nos produits <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    {% if app.user %}
                    <div id="navBarConnected">
                        <a class="navBarConnected" href="{{ path('app_profile') }}">Profil</a>
                        <a class="navBarConnected" href="{{ path('app_cart') }}">Panier</a>
                        <a class="navBarConnected" href="{{  path('app_logout')  }}">Déconnexion</a>
                    </div>
                      {% else %}
                      <div id="login">
                        <a href="{{ path('app_register') }}">Inscription</a>
                        <a href="{{ path('app_login') }}">Connexion</a>
                      </div>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main role="main">


            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">

                {% block content %}
                {% endblock %}

            </div><!-- /.container -->

            <!-- FOOTER -->
            <footer class="container" id="footer">
            <hr />
            {% if app.user %}
                    <ul class="listFooter">
                        <li><a href="{{ path('home') }}">Accueil</a></li> 
                        <li><a href="{{ path('app_products') }}">Nos produits</a></li>
                        <li><a href="{{ path('app_profile')  }}">Mon profil</a></li>
                        <li><a href="{{ path('app_cart')  }}">Mon panier</a></li>
                    </ul>
                      {% else %}
                        <ul class="listFooter">
                            <a href="{{ path('home') }}">Accueil</a>
                            <a href="{{ path('app_products') }}">Nos produits</a>
                        </ul>
                    {% endif %}
            {# <ul id="listFooter">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('app_products') }}">Nos Produits</a></li>
                <li><a href="{{ path('app_profile') }}">Mon profil</a></li>
                <li><a href="{{ path('app_cart') }}">Mon panier</a></li>
            </ul> #}
                <p class="float-right"><a href="{{ path('home') }}">Retour en haut de page</a></p>
                <p>&copy; 2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            </footer>
        </main>
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>
